{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}}
          :ns-default build}}}
